/* Field */
 
	.js-select2 {
		width: 100%;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	.js-select2.select:not(.selectize):after{
		content: '';
		display: none;
	}

	.js-select2 .select2-container{
	  max-width: 100%;
	}
	
	.js-select2 select {
		width: 100%;
	}
	
/* Field Settings */

	.select2-alert {
		background-color: #f2f2f2;
		margin-top: 0.5em;
		color: #494949;
		font-size: 12px;
		padding: 0.8em;
	}
	
	.select2-alert code {
		background-color: #373737;
		color: #fff;
		padding: 0.5em 0.7em;
		border-radius: 2px;
		font-size: 11px;
		margin: 0 0.1em;
	}
	
	.js-select2-json {
		display: none;
	}
	
	.js-select2-json.is-visible {
		display: block;
	}
