{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: 'Select Multiple?'|t,
    id: 'multiple',
    name: 'multiple',
    on: false, 
    required: true
}) }}

<!-- ^^^ ON Needs to pull through value -->

{{ forms.textField({
    label: 'Limit'|t,
    type: 'number',
    instructions: 'Limit the amount of results that can be chosen',
    id: 'limit',
    name: 'limit',
    value: settings.limit
}) }}

{{ forms.radioGroupField({
    label: 'List'|t,
    id: 'list',
    name: 'list',
    value: (settings.list ? settings.list : 'json'),
    required: true,
    options: {
		'json' : {
            'value': 'json',
            'label': 'JSON'
		},
		'countries' : {
            'value': 'countries',
            'label': 'Countries'
		},
		'countriesIso2' : {
            'value': 'countriesIso2',
            'label': 'Countries (2 Digit ISO)'
		},
		'countriesIso3' : {
            'value': 'countriesIso3',
            'label': 'Countries (3 Digit ISO)'
		},
		'usStates' : {
            'value': 'usStates',
            'label': 'US States'
		},
		'ukCounties' : {
            'value': 'ukCounties',
            'label': 'UK Counties'
		},
		'currencyIso3' : {
            'value': 'currencyIso3',
            'label': 'Currency (3 Digit ISO)'
		},
		'languagesIso2' : {
            'value': 'languagesIso2',
            'label': 'Languages (2 Digit ISO)'
		},
		'socialNetworks' : {
            'value': 'socialNetworks',
            'label': 'Social Networks'
		}		
    }
}) }}

<select>
	<optgroup label="Countries">
		<option>2 Digit ISO</option>
	</optgroup>
</select>

{% if jsonFiles|length %}
	{{ forms.selectField({
	    label: 'JSON'|t,
	    id: 'json',
	    name: 'json',
	    value: settings.json,
		options: jsonFiles
	}) }}
{% else %}
	<div class="field">
		<div class="heading">
			<label>JSON</label>
		</div>
		<strong class="warning">No JSON file(s) exist</strong>
		<p class="select2-alert">
			JSON files are pulled from the <code>select2</code> folder inside the templates folder. Unless a different folder has been set using the 		<code>jsonFolder</code> config setting. <a href="#" target="_blank">See Documentation</a>
		</p>
	</div>
{% endif %}